  //VARIABLES



//COLORS
$bgbulecolor: #3f9cc1;
$bgpurplecolor: #3f3f81;
$whitecolor: #ffffff;
$blackcolor: #000000;
$goldencolor: #c1b086;
$bulecolor: #0000ff;
$generalbgcolor: #eee;





//FONTS
$smallestfont: 1rem;
$smallfont: 1.2rem;
$generalfont: 1.5rem;
$biggestfont: 7rem;
$bigfont: 4rem;



//MARGIN TOP AND BUTTON / PADDING LEFT AND RIGHT
$generalmargintopbut: 50px;




//PADDING LEFT AND RIGHT
$generalpaddingleftright: 100px;
